.left { float: left; }
.right { float: right; }
.clear { clear: both; }

img.left { margin: 0 10px 10px 0; }
img.right { margin: 0 0 10px 10px; }
img.shadowed {
	border: 1px solid #e9e9e9;
	box-shadow: -5px 5px 10px #ddd;
	border-radius: 3px;
	
	behavior: url(templates/wee_magazine/css/PIE.htc);
}